<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yagane</title>
    <link rel="stylesheet" href="./static/style.css">
    <link rel="icon" href="./static/image/logo.ico" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/highlight.js@11.5.1/styles/default.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/highlight.js@11.5.1/lib/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <script src="./static/script.js"></script>
</head>
<body>
    <div class="menu">
        <ul>
            <li><a href="#">Accueil</a></li>
            <li><a href="#">À propos</a></li>
            <li class="logo">
                <img src="./static/image/logo.ico" alt="Logo">
            </li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>

    <div class="content">
        <div class="detection">
            <div class="video">

                <div>
                    <img src="{{ url_for('video_feed') }}">
                </div>

                <div class="select">
                    <select name="choix" id="choix" onchange="onSelectChange()"> <!-- Déclenche AJAX au changement -->
                        <option value="person">Personne</option>
                        <option value="cell phone">Téléphone</option>
                        <option value="dog">Chien</option>
                    </select>
                </div>
            </div>
            <div class="button-detection">
                <button id="buttonDet" class="button">Détection</button>
                <button id="buttonDisco" class="image-button">
                    <img src="./static/image/boule-disco.png">
                </button>
                <button id="buttonSeg" class="button">Segmentation</button>
            </div>
        </div>

        <div class="chatbot">
            <div class="chat-window">
                <div class="chat-messages" id="chatbot">
                </div>
                <div class="chat-input">
                    <input type="text" id="user-input" placeholder="Écrivez votre message...">
                    <button id="send-button">Envoyer</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>